page-login {
    
.registerLabel{
        position: absolute;
        bottom: 0;
        font-size: 12px;
        text-align: center;  
    }
    .transparentBg{
        background: none !important
    }

}
